
.App {
    --primary-color: #FFC71D;
    --secondary-color: #F2EBDB;
    --dark-color: #1E1706;
    min-height: 100vh;
    background-color: var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
